numpy==1.26.4
google-genai
python-dotenv
chromadb
google-api-core
langcodes
fasttext-wheel  # use prebuilt wheel instead of building from source
fastapi
pydantic
pandas
ipython
uvicorn
python-multipart
redis
crawl4ai
langchain-text-splitters
tqdm